<div class="ui secondary pointing menu">
  <a routerLink="employees" routerLinkActive="active" class="item">Employees</a>
  <a routerLink="countries" routerLinkActive="active" class="item">Countries</a>
  <a routerLink="departments" routerLinkActive="active" class="item">Departments</a>
  <a routerLink="jobs" routerLinkActive="active" class="item">Jobs</a>
  <a routerLink="locations" routerLinkActive="active" class="item">Locations</a>
  <a routerLink="passports" routerLinkActive="active" class="item">Passports</a>
</div>